<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.mapper.job.JobinfoMapper">
   <select id="selectJobinfoList" resultType="egovframework.job.dto.JobinfoDTO">
        SELECT * FROM JOBINFO
    </select>

    <select id="selectJobinfoById" resultType="egovframework.job.vo.JobinfoVO">
        SELECT * FROM JOBINFO WHERE j_id = #{j_id}
    </select>
    
    <insert id="createJobinfo" parameterType="egovframework.job.dto.JobinfoDTO">
        INSERT INTO JOBINFO (j_id, d_date, j_name, job_type, employment_type, payment_type, payment, career, edu, r_date, detail)
        VALUES (#{j_id}, #{d_date}, #{j_name}, #{job_type}, #{employment_type}, #{payment_type}, #{payment}, #{career}, #{edu}, #{r_date}, #{detail})
    </insert>
    
    <update id="updateJobinfo" parameterType="egovframework.job.dto.JobinfoDTO">
        UPDATE JOBINFO SET 
           d_date = #{d_date}, 
           j_name = #{j_name},
           job_type = #{job_type}, 
           employment_type = #{employment_type}, 
           payment_type = #{payment_type}, 
           payment = #{payment}, 
           career = #{career}, 
           edu = #{edu}, 
           r_date = #{r_date},
           detail = #{detail}
        WHERE j_id = #{j_id}
    </update>
    
    <delete id="deleteJobinfo" parameterType="Long">
        delete from JOBINFO where j_id=#{j_id}
    </delete>
    
    
    <select id="searchJobinfo" resultType="egovframework.job.vo.JobinfoVO" parameterType="egovframework.job.vo.JobinfoSearchVO">
      select * from JOBINFO j, COMPANY c
      <where>
      <!-- 시작과 끝(일) 추가해야함 -->
         <if test="employment_type != null">
               and employment_type in <foreach item="employmenttype" collection="employment_type" open="(" close=")" separator="," >
                  #{j.employmenttype}
               </foreach>
         </if>
         <if test="payment_type != null">
               and payment_type in <foreach item="paymenttype" collection="payment_type" open="(" close=")" separator="," >
                  #{j.paymenttype}
               </foreach>
         </if>
         <if test="region != null">
               and region in <foreach item="r" collection="region" open="(" close=")" separator="," >
                  #{c.address}
               </foreach>
         </if>
         
         <choose>
            <when test="search_type == 'j_name'">
               and j_name like '%' || #{keyword} || '%'
            </when>
            <when test="search_type == 'job_type'">
               and job_type like '%' || #{keyword} || '%'
            </when>
         </choose>
      </where>
   </select>
</mapper>