<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.mapper.job.ResumeMapper">

	<select id="selectResumeList" resultType="egovframework.job.vo.ResumeVO">
        SELECT * FROM RESUME LIMIT 10
    </select>

    <select id="selectResumeById" resultType="egovframework.job.vo.ResumeVO">
        SELECT * FROM RESUME WHERE r_id = #{r_id}
    </select>
    
    <insert id="createResume" parameterType="egovframework.job.dto.ResumeDTO">
        INSERT INTO RESUME (r_id, place, job, payment_type, payment, ob_type, disease, career, pr, title, education)
        VALUES (#{r_id}, #{place}, #{job}, #{payment_type}, #{payment}, #{ob_type}, #{disease}, #{career}, #{pr}, #{title}, #{education})
        
    </insert>
    
    <update id="updateResume" parameterType="egovframework.job.dto.ResumeDTO">
        UPDATE RESUME SET 
           education = #{education},
           place = #{place}, 
           job = #{job}, 
           payment_type = #{payment_type}, 
           payment = #{payment}, 
           ob_type = #{ob_type}, 
           disease = #{disease},
           career = #{career},
           pr = #{pr},
           title = #{title}
        WHERE r_id = #{r_id}
    </update>
    
    <delete id="deleteResume" parameterType="Long">
        delete from RESUME where r_id=#{r_id}
    </delete>
    
    <select id="searchResume" resultType="egovframework.job.vo.ResumeVO" parameterType="egovframework.job.vo.ResumeSearchVO">
      SELECT * FROM RESUME
      <where>
         <if test="payment_type != null">
               and payment_type in 
               <foreach item="ptype" collection="payment_type" open="(" close=")" separator="," >
                  #{ptype}
               </foreach>
         </if>
         <if test="disease != null">
               and disease in 
               <foreach item="d" collection="disease" open="(" close=")" separator="," >
                  #{d}
               </foreach>
         </if>
         <if test="ob_type != null">
               and ob_type in 
               <foreach item="ob" collection="ob_type" open="(" close=")" separator="," >
                  #{ob}
               </foreach>
         </if>
         <if test="place != null">
               and place in 
               <foreach item="p" collection="place" open="(" close=")" separator="," >
                  #{p}
               </foreach>
         </if>
         <if test="education != null">
               and education in 
               <foreach item="e" collection="education" open="(" close=")" separator="," >
                  #{e}
               </foreach>
         </if>
         <if test="keyword != null">
         	and job LIKE CONCAT('%', #{keyword}, '%')
         </if>
      </where>
   	</select>
</mapper>
